.dropArea,
.noComponents {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-4);
}

.previewHeading {
  margin-bottom: var(--fds-spacing-4);
}

.dropArea {
  /* Center the 'drag components here' text in both axis */
  align-items: center;
  height: 90%;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--fds-semantic-surface-neutral-inverted) transparent;
  margin-bottom: var(--fds-spacing-4);
}

.noComponents {
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 80%;
}

.formBoardComponent {
  width: 100%;
}

.droppedItem {
  display: flex;
  align-items: center;
  padding: 0;
  width: 80%;
  justify-content: center;
  text-align: start;
  margin: 0 auto;
  gap: var(--fds-spacing-4);
  transition: 0.3s;
}

.droppedItem svg {
  margin-top: 2rem;
  font-size: 2rem;
}

.droppedItem:hover,
.removalItem:hover {
  cursor: pointer;
}

.droppedItem:hover {
  transform: scale(1.02);
}

.removalItem:hover {
  color: var(--fds-semantic-surface-danger-hover);
}
