.previewHeading {
  margin-bottom: var(--fds-spacing-4);
}

.dropArea {
  /* Center the 'drag components here' text in both axis */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--fds-semantic-surface-neutral-inverted) transparent;
}

.noComponentsIcon {
  font-size: 3rem;
  margin-bottom: var(--fds-spacing-4);
}

.droppedItem {
  display: flex;
  gap: var(--fds-spacing-4);
  margin-bottom: var(--fds-spacing-4);
  align-items: center;
  font-size: 1.3rem;
}

.removalItem:hover {
  cursor: pointer;
  color: var(--fds-semantic-surface-danger-hover);
}
