.dropArea,
.noComponents {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-4);
}

.previewHeading {
  padding: var(--fds-spacing-4);
}

.formHeading {
  text-align: left;
  padding-bottom: var(--fds-spacing-4);
}

.formHeading:hover {
  background-color: var(--fds-brand-alt3-100);
  transition: 0.1s;
}

.dropArea {
  height: 85%;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--fds-semantic-surface-neutral-inverted) transparent;
  margin-bottom: var(--fds-spacing-4);
  padding: 0 var(--fds-spacing-8);
}

.noComponents {
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 80%;
}

.formBoardComponent {
  width: 100%;
}

.droppedItem {
  display: flex;
  align-items: center;
  padding: var(--fds-spacing-4) 0;
  width: 100%;
  justify-content: center;
  text-align: start;
  margin: 0 auto;
  gap: var(--fds-spacing-4);
  transition: 0.3s;
}

.droppedItem svg {
  margin-top: 2rem;
  font-size: 2rem;
}

.droppedItem:hover,
.removalItem:hover {
  cursor: pointer;
}

.droppedItem:hover,
.formHeading:hover {
  background-color: var(--fds-brand-alt3-100);
  transition: 0.1s;
  cursor: pointer;
}

.removalItem:hover {
  color: var(--fds-semantic-surface-danger-hover);
}
