.toolbarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
  border-radius: var(--fds-border_radius-medium);
  padding: var(--fds-spacing-2);
  height: 100px;
  width: 100px;
}

.toolbarIcon {
  display: flex;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .toolbarItem {
    width: 100%;
    border-radius: 0;
    flex-direction: row;
    gap: var(--fds-spacing-2);
  }

  .toolbarItem:first-of-type {
    border-radius: var(--fds-border_radius-medium) 0 0 var(--fds-border_radius-medium);
    border-right: none;
  }

  .toolbarItem:last-of-type {
    border-radius: 0 var(--fds-border_radius-medium) var(--fds-border_radius-medium) 0;
  }

  .toolbarIcon {
    font-size: 2.5rem;
  }
}
