.noComponents {
  /* Center the 'drag components here' text in both axis */
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noComponentsIcon {
  font-size: 3rem;
  margin-bottom: var(--fds-spacing-4);
}

.droppedItem {
  display: flex;
  gap: var(--fds-spacing-4);
  margin-bottom: var(--fds-spacing-4);
  align-items: center;
  font-size: 1.3rem;
  transition: 0.5s;
}

.droppedItem:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.removalItem:hover {
  cursor: pointer;
  color: var(--fds-semantic-surface-danger-hover);
}
