.dropdownButton {
  border: 1px solid var(--fds-semantic-border-neutral-strong);;
}

.dropdownMenu {
  border: 1px solid var(--fds-semantic-border-neutral-default);
  box-shadow: var(--fds-shadow-small);
}

.userIcon {
  color: var(--fds-semantic-text-neutral-default);
}
