.settingsHeading {
  padding-bottom: var(--fds-spacing-4);
}

.compSettingsContent {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-6);
  padding-bottom: var(--fds-spacing-4);
  text-align: left;
}

.modalWindow {
  justify-self: center;
  align-self: center;
}

.modalHeader {
  background: var(--fds-semantic-surface-action-first-subtle);
  padding: var(--fds-spacing-6);
}

.modalContent {
  margin: 10px 0px;
}

.modalContent div {
  margin-bottom: 10px;
}
