.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--fds-sizing-10);
  background: var(--fds-semantic-surface-neutral-inverted);
  color: var(--fds-semantic-surface-on_inverted-default);
  padding: 0 var(--fds-spacing-12);

  a,
  a:hover {
    text-decoration: none;
    color: inherit;
  }
}
