* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Inter", arial, sans-serif;
  font-feature-settings: "cv05" 1 !important; /* Enable lowercase l with tail */
}

.headline {
  align-self: flex-start;
}

.builderGrid {
  display: grid;
  grid-template-columns: 1fr 6fr 3fr;
  gap: var(--fds-spacing-4);
}

.builderSection {
  background-color: var(--fds-semantic-background-default);
  box-shadow: var(--fds-shadow-small);
  padding: var(--fds-spacing-5);
  text-align: center;
}
