* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Inter", arial, sans-serif;
  font-feature-settings: "cv05" 1 !important; /* Enable lowercase l with tail */
}

.formBuilder {
  margin: auto 0;
  padding: var(--fds-spacing-10);
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr 6fr 3fr;
  gap: var(--fds-spacing-2);
}

.builderSection {
  background-color: var(--fds-semantic-background-default);
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
  border-radius: var(--fds-border_radius-medium);
  padding: var(--fds-spacing-1);
  text-align: center;
  margin: auto 0;
  height: 60vh;
}

@media (max-width: 768px) {
  .formBuilder {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;
  }

  .builderSection:first-child {
    padding: 0;
    border: none;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .formBuilder {
    padding: var(--fds-spacing-2);
  }
}
