.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--fds-spacing-4);
}

@media (max-width: 768px) {
  .toolbar {
    flex-direction: row;
    width: 100%;
  }
  .toolbarHeader {
    display: none;
  }
}
