.toolbar {
  background-color: var(--fds-semantic-background-default);
  box-shadow: var(--fds-shadow-small);
  padding: var(--fds-spacing-5);
  text-align: center;
}

.toolbarIcon {
  margin-bottom: var(--fds-spacing-4);
}
