.toolbarItems {
    display: flex;
    flex-direction: column;
    gap: var(--fds-spacing-4);
}

@media (max-width: 768px) {
    .toolbarItems {
        flex-direction: row;
        width: 100%;
        gap: 0;
        padding: 0;
    }

    .toolbarHeading {
        display: none;
    }
}