@import "../../../public/variables.css";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--fds-semantic-text-neutral-on_inverted);
  background-color: var(--fds-semantic-surface-neutral-inverted);
  background-image: url(./footerBackground.svg);
  background-size: cover;
  min-height: calc(2 * var(--fds-spacing-30));
  gap: var(--fds-spacing-1);

  .linkContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--fds-spacing-4);
    line-height: 1.5;
    justify-content: center;
    align-items: start;
    padding: var(--padding-small-frame);
  }

  a {
    color: inherit !important;
  }
}