* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Inter", arial, sans-serif;
  font-feature-settings: "cv05" 1 !important; /* Enable lowercase l with tail */
  margin: 0;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--fds-semantic-background-subtle);
}
