* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', arial, sans-serif;
    font-feature-settings: 'cv05' 1 !important; /* Enable lowercase l with tail */
    margin: 0;
}

.main {
    background-color: var(--fds-semantic-background-subtle);

    /* Sink footer to the bottom of the page. 100vh minus header minus footer  */
    min-height: calc(100vh - var(--fds-sizing-26) - var(--fds-sizing-30));
}
