* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', arial, sans-serif;
    font-feature-settings: 'cv05' 1 !important; /* Enable lowercase l with tail */
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fds-semantic-background-subtle);
    padding: var(--fds-spacing-14) var(--fds-spacing-30);
  
    /* Sink footer to the bottom of the page. 100vh minus header minus footer  */
    min-height: calc(100vh - var(--fds-sizing-26) - calc(2 * var(--fds-spacing-30)));
}

@media (max-width: 600px) {
    .main {
        padding: 0;
    }
}