@import "../../../public/variables.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--fds-sizing-26);
  padding: 0 var(--fds-spacing-12);
  border-bottom: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.headerIcon {
  font-size: 2rem;
  color: var(--fds-semantic-text-neutral-default);
}

.brandLink {
  color: inherit !important;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .header {
    padding-right: var(--fds-spacing-10);
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: var(--fds-spacing-4);
    padding-right: var(--fds-spacing-2);
  }
}
