@import "../../../public/variables.css";

.header {
  display: flex;
  align-items: center;
  height: var(--fds-sizing-26);
  padding: 0 var(--fds-spacing-30);
  border-bottom: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.headerIcon {
  font-size: 2rem;
  color: var(--fds-semantic-text-neutral-default);
}

.headerLink {
  color: inherit !important;
  text-decoration: none;
}

.nav {
  margin-left: auto; /* Pushes nav to the right */

  ul {
    list-style: none;
    display: flex;
    gap: var(--fds-spacing-10);
  }

  a {
    padding-top: var(--fds-spacing-1);
    padding-bottom: var(--fds-spacing-1);
    font-size: large;
    color: inherit !important;
    text-decoration: none;
    transition: box-shadow 0.2s;
  }

  a:hover {
    box-shadow: 0px 2px var(--fds-semantic-border-action-subtle);
    transition: box-shadow 0.1s;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0 var(--padding-small-frame);
    justify-content: space-between;
  }
}
