@import "../../../public/variables.css";

.header {
  display: flex;
  align-items: center;
  height: var(--fds-sizing-26);
  padding: 0 var(--fds-spacing-12);
  border-bottom: 1px solid var(--fds-semantic-border-neutral-subtle);
  justify-content: space-between;
}

.headerIcon {
  font-size: 2rem;
  color: var(--fds-semantic-text-neutral-default);
}

.headerLink {
  color: inherit !important;
  text-decoration: none;
}

.nav {
  display: flex;

  ul {
    list-style: none;
    display: flex;
    gap: var(--fds-spacing-10);
  }

  a {
    font-size: large;
    color: inherit !important;
    text-decoration: none;
    transition: box-shadow 0.2s;
  }

  a:hover {
    box-shadow: 0 2px var(--fds-semantic-border-action-subtle);
    transition: box-shadow 0.1s;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding-right: var(--fds-spacing-10);
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: var(--fds-spacing-4);
    padding-right: var(--fds-spacing-2);
  }
}
